<div class="container">
  <div class="row mb-3">
    <button class="btn btn-secondary" routerLink="/clock">Back to Clock</button><br/>
  </div>
  <div class="row">
    <p class="font-weight-bold text-center full-width">Photos last for 15 seconds - put at least a 15 second difference between entries</p>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">File Name</th>
          <th scope="col">Interrupt Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of pictures | async">
          <td>{{ entry.name }}</td>
          <td>{{ entry.fileName }}</td>
          <td>{{ entry.time | date:'hh:mm:ss' }}</td>
          <td>
            <button type="button" class="btn btn-outline-dark mr-3" (click)="delete(entry)">Delete</button>
            <button type="button" class="btn btn-outline-dark" (click)="updateOpen(entry, configure)">Configure</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="open(content)">Add New Entry</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Entry</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text" [(ngModel)]="newName" name="newName">
        </div>
        <div class="form-group">
          <label for="newTime">What time should the photo appear?</label>
          <ngb-timepicker id="newTime" [(ngModel)]="newTime" [seconds]="true" [meridian]="true" name="newTime"></ngb-timepicker>
        </div>
        <div class="form-group">
          <label for="picture">Upload a picture</label>
          <input id="picture" class="form-control" type="file" (change)="onFileChange($event)">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
  </ng-template>

  <ng-template #configure let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Configure Entry</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="updatedName">Name</label>
            <input id="updatedName" class="form-control" type="text" [(ngModel)]="updatedName" name="updatedName">
          </div>
          <div class="form-group">
            <label for="updatedTime">What time should the photo appear?</label>
            <ngb-timepicker [(ngModel)]="updatedTime" [seconds]="true" [meridian]="true" name="updatedTime"></ngb-timepicker>
          </div>
          <div class="form-group">
            <label for="updatedPicture">Upload a new picture</label>
            <input id="updatedPicture" class="form-control" type="file" (change)="updatedFileChange($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
      </div>
    </ng-template>